.button {
  padding: 1.5rem 3.375rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;

  &:hover, &:focus {
    background-color: white;
    color: $black;
    transition-duration: 200ms;
  }

  &-black {
    background-color: $black;
    border: none;
  }
}